Le stage de 2ème année à l’ig2i consiste en une expérience de 3 mois en tant que technicien. J’ai effectué ce stage pour la société de services 
.important Actemium 
au sein de laquelle j’ai réalisé un projet pour le client final 
.important Dalkia
, entreprise fabriquant, entre autres, des appareils de chauffage. 
%br
%br
Ainsi, j’ai participé à la création d’un système pour gérer les alarmes automatiques mises en place en cas de défaillance sur les appareils. J'y ai intégré une équipe de 3 personnes (même si j’étais seul en charge de la réalisation de l’interface), avec laquelle j’ai travaillé tout au long de mon stage. 
%br
%br
Voici les fonctionnalités mises en place: 
%ul
  %li Design web ergonomique (navigation instinctive et accès rapide à toutes les informations)
  %li Mise en place de formulaire pour la modification des données 
  %li Création d’un panneau d’administration permettant de superviser le déroulement des processus et l’état des serveurs. 
  %li Création dynamique de statistiques

%br
%br

Dans ce cadre, j’ai utilisé les technologies web à savoir PHP, HTML, CSS, JavaScript, JQuery