Lors de mon stage de 3ème année réalisé à 
.important Atlanta 
dans l’entreprise 
.important The Net Doctor
, j’ai pu travailler sur plusieurs projets très différents les uns des autres. 
%br
%br
J’ai notamment mis en place plusieurs sites vitrines à l’aide de 
.important Wordpress
pour des petites entreprises (commerces, start-ups) qui n’avaient alors de pas visibilité sur internet. Il avaient donc besoin d’une interface sur Internet leur permettant de présenter leurs activités et ainsi d’accroître la renomée de leurs entreprises. 
%br
%br
J’étais moi même en charge de rencontrer les clients, de comprendre leurs besoins, afin de personnaliser les thèmes Wordpress pour que le design et les fonctionnalités correspondent au mieux à leurs attentes. 