Ce projet est celui sur lequel j’ai passé le plus de temps durant mon stage de 3ème année à 
.important Atlanta.
Il était destiné à l’entreprise 
.important B-pack
, un éditeur de solutions permettant aux client d’optimiser leur business. 

Leur besoin était un site web 
.important Joomla 
sur lequel l’entreprise souhaitait réaliser des modifications. 

%br
%br
Ce projet était assez difficile puisque c’était ma permière expérience sur Joomla, et également parce que le thème n’avait pas été developpé de maniere optimale en premier lieu.
J’ai donc effectué bon nombre de modifications (toutes via l’interface d’administration Joomla, ne pouvant bénéficier d’un accès serveur) et ai ainsi pu construire un site qui correspondait réellement à leur besoin, malgré des conditions de départ difficiles.

%br
%br

Vous pouvez visiter le site de B-Pack en suivant
%a{href: "http://b-pack.com"} ce lien.