Lors de mon stage de 4e année, un besoin fût formulé directement pour 
.important ALTEN 
Nord: les entretiens d’embauche donnent lieu à des 
.important tests techniques 
relatifs aux domaines de compétences des candidats. Ceux-ci se faisaient sur un format papier, revus ensuite par les responsables techniques des domaines en question.
%br
%br
J’ai travaillé sur un projet permettant d’informatiser cela, au travers d’un client léger. J’étais en complète autonomie sur ce projet. Et suis intervenu du recueil des besoins au développement, en passant par la conception et le choix des technologies.
%br
%br
J’ai réalisé ce site avec les technologies ASP.net (utilisant C#), couplé a l’Entity Framework.