/ Place somewhere in the <body> of your page
.flexslider
  %ul.slides
    %li
      %img{src: "/assets/slides/Bastien.png"}
      / Bienvenue sur mon site...
    %li
      %img{src: "/assets/slides/rails.png"}
      / ... passionné par les technologies du web...
    %li
      %img{src: "/assets/slides/scrum.png"}
      / ... par les méthodes des gestion de projet et de management...
    %li
      %img{src: "/assets/slides/international.png"}
      / ... on French and international projects...
    %li
      %img{src: "/assets/slides/collaboration.png"}
      / ... intéréssé? Contactez moi



:javascript
  // Can also be used with $(document).ready()
  $(window).load(function() {
    $('.flexslider').flexslider({ animation: "fade", slideshowSpeed: 5500, animationSpeed: 1500, pauseOnHover: true});
  });

