.hidden-print
  Astuce: Affichez / masquer les parties qui vous intérèssent, puis 
  %a{href: "javascript:if(window.print)window.print()"} Imprimez!
  %br
  ou
  %br
  %a.btn.btn-bast{href: "/CV/CV_bastien_pruvost_fr.pdf"}
    Télécharger la version PDF