%h2 BDA

%p
  Le BDA est l'association à vocation artistique de l'IG2I. 
  Créée en 2008, cette jeune association a pour objectif la promulgation de l’art au sein du corps étudiant, et ce sous plusieurs formes.
  Issue d'une fusion entre les associations multimédia et journatistiques, elle s'est aujourd'hui diversifiée en développant de nouveaux domaines comme la musique. 

%p
  Ayant décidé de m'inscrire dans la vie associative de l'école, j'ai choisi d'intégrer le BDA dès mon arrivée à l'IG2I.  
  Un an plus tard, je créais le pôle musical 
  %b 2zik
  et en devenait responsable, avec comme objectif l'expansion de ses activités, notamment par l'organisation de soirées à thème musical, de cours de musique et de concerts.
  En 4
  %sup<> e&nbsp; 
  année, je suis devenu président de l'association, et supervise donc depuis l'ensemble des activités et démarches des différents pôles, tout en essayant d'étendre son rayon d'action de manière générale.

%p
  Pour plus d'informations, vous pouvez consulter le 
  %a{href: "http://bda.ig2i.fr"}
    site web du BDA