:javascript
  $("#menu li a[href='/cv']").parent().addClass("active")

.resume
  #left_col.col-md-8
    .education.category
      %h2 Education
      .entry
        %h3 Elève-Ingénieur de 4e année
        .info
          .date 2011 - 2012
          .place IG2I 
        .description 
          %a{href: "/ig2i"}
            .know-more
          Institut de Génie Informatique et Industriel. Ecole d'ingénieurs département de l'Ecole Centrale de Lille. Option Génie Informatique.
      .entry
        %h3 Baccalauréat Scientifique
        .date 2007

    .experience.category
      %h2 Experiences Professionnelles
      .entry
        %h3 Apprenti Ingénieur d'Etudes et de Développement
        .date 2011 - 2012
        .place Alten Nord, Villeneuve d'Ascq (59)
        .description
          Stage d'apprenti-ingénieur d'une durée de 9 mois dont 7 en alternance, au sein de la DDPS (Direction des Projets Structurés):
          %ul
            %li 
              Participation aux phases d'avant-vente des projets, par le biais de réponses à des appels d'offres :
              Etudes fonctionnelles et techniques détaillées ; Etudes de faisabilité et prototypages ; Estimation de charges ; Veille technologique.
            %li 
              Intervention sur les phases de réalisation des projets (recueil des besoins, conception, développement, déploiement...). Utilisation de méthodologies de gestion de projet agiles.

      .entry
        %h3 Apprenti Ingénieur d'Etudes et de Développement
        .date 2011 - 2012
        .place Alten Nord, Villeneuve d'Ascq (59)
        .description
          Stage d'apprenti-ingénieur d'une durée de 9 mois dont 7 en alternance, au sein de la DDPS (Direction des Projets Structurés):
          %ul
            %li 
              Participation aux phases d'avant-vente des projets, par le biais de réponses à des appels d'offres :
              Etudes fonctionnelles et techniques détaillées ; Etudes de faisabilité et prototypages ; Estimation de charges ; Veille technologique.
            %li 
              Intervention sur les phases de réalisation des projets (recueil des besoins, conception, développement, déploiement...). Utilisation de méthodologies de gestion de projet agiles.
      .entry
        %h3 Responsable Technique
        .info
          .date 2011
          .place The Net Doctor, Atlanta (USA)
        .description
          Mission ponctuelle d'une durée de 5 semaines durant les vacances d'été :
          %br/
          Restructuration et optimisation d’un site web client basé sur un CMS privé.
          Identification des besoins, documentation et formation des futurs utilisateurs.
      .entry
        %h3 Technicien Réseau / Développeur
        .info
          .date 2011
          .place The Net Doctor, Atlanta (USA)
        .description
          Stage internationnal d'une durée de 3 mois :
          %br/
          Relation clients (analyse des besoins, suivi de projets, support technique), implémentation de systèmes informatiques (outils collaboratifs, systèmes VoIP), réalisation de sites web utilisant différents CMS, Search Engine Optimization.
      .entry
        %h3 Développeur web
        .info
          .date 2010
          .place Actemium Arras, Tilloy-les-Mofflaines (62)
        .description
          Stage technicien d'une durée de 3 mois :
          %br/
          Réalisation d’une Interface Homme-Machine de gestion d’alarmes automatisées sous forme d’un site web utilisé en Intranet.
      .entry
        %h3 Développeur web
        .info
          .date 2010
        .description
          Projet Informatique (2e année IG2I):
          Gestion de projet : Analyse, conception et développement du site web d’une association (utilisé à des fins de gestion des adhérents et des activités) au sein d’une équipe de 6 personnes.
  

  #right_col.col-md-4
    
    .parent_btn_bast
      %button.btn.btn-bast
        Download PDF Version

    .skills.category
      %h2 Skills
      .entry
        %h3 Informatique
        .info
          %h4 Langages
          .skill-container
            .skill{style: "width: 85%;"} Java
          .skill-container
            .skill{style: "width: 80%;"} C#.NET
          .skill-container
            .skill{style: "width: 70%;"} VB.NET
          .skill-container
            .skill{style: "width: 70%;"} C
          .skill-container
            .skill{style: "width: 30%;"} C++
          .skill-container
            .skill{style: "width: 50%;"} XML
          %h4 Technologies Web
          .skill-container
            .skill{style: "width: 95%;"} HTML5 / CSS3
          .skill-container
            .skill{style: "width: 80%;"} JS / Jquery 
          .skill-container
            .skill{style: "width: 85%;"} AJAX
          .skill-container
            .skill{style: "width: 70%;"} JEE
          .skill-container
            .skill{style: "width: 70%;"} PHP
          .skill-container
            .skill{style: "width: 70%;"} ASP.NET
          %h4 CMS
          .skill-container
            .skill{style: "width: 90%;"} Wordpress
          .skill-container
            .skill{style: "width: 60%;"} Joomla
          .skill-container
            .skill{style: "width: 50%;"} Drupal
          %h4 Base de données
          .skill-container
            .skill{style: "width: 90%;"} MySQL
          .skill-container
            .skill{style: "width: 80%;"} SQL Server
          .skill-container
            .skill{style: "width: 55%;"} Access
          .skill-container
            .skill{style: "width: 55%;"} Oracle
          %h4 Conception
          .skill-container
            .skill{style: "width: 75%;"} MERISE
          .skill-container
            .skill{style: "width: 75%;"} UML
          %h4 Architectures
          .skill-container
            .skill{style: "width: 75%;"} MVC
      .entry
        %h3 Langues
        .description
          %strong Anglais :
          Courant (TOEIC: 975 / 990 en 2011) ;
          %br/
          %strong Espagnol :
          Bon niveau (5 ans) ;
          %br/
          %strong Allemand :
          Débutant (3 ans)
          %br/
      .entry
        %h3 Communication
        .description
          Marketing et techniques de ventes, Psychologie, Management, Gestion de crise, Conduite du changement
      .entry
        %h3 Gestion de Projet
        .description
          Cycle en V, méthodes agiles (Scrum, eXtreme Programming)
    .divers.category
      %h2 Divers
      .entry
        %h3 Vie associative
        .description
          Lorem ipuorobgorego Lorem ipuorobgorego Lorem ipuorobgorego Lorem ipuorobgorego Lorem ipuorobgorego Lorem ipuorobgorego
          Lorem ipuorobgorego Lorem ipuorobgorego

      .entry
        %h3 Loisirs
        .description
          Lorem ipuorobgoregoLorem ipuorobgorego Lorem ipuorobgoregoLorem ipuorobgoregoLorem ipuorobgorego
          Lorem ipuorobgoregoLorem ipuorobgoregoLorem ipuorobgorego Lorem ipuorobgorego  
