#container.container
  .row
    .col-md-8
      %h2 IG2I
      %br
      IG2I ("Institut de Génie Informatique et Industriel") is an engineering school based in Lens, Northern France, and is a department of "Ecole Centrale de Lille".
      Created in 1992, it trains in 5 years engineers speciliazed in Information Technology (IT).
      %br
      %br
      This is the training I decided to follow in 2008.
      %br
      %b Why did I choose this school?
      %br
      %br
      %ul
        %li
          Strong integration with the company world, with a total of 19 months of 
          %b internships 
          spread on the 5 years of training.
        %li
          A quality training with most teachers coming from French well-known
          %b Ecole Centrale de Lille
        %li
          Small school (
          %b less than 250 students
          for all the 5 classes), which allows us to have a real bond and to be really followed-up
        %li
          %b Strong community life
          , with 11 associations within the school

      %p
        For more information, please visit
        %a{href:"http://www.ig2i.fr"}
          IG2I's website

    .col-md-4.center
      %img.ig2i{src: "/assets/ig2i.jpg", alt: "ig2i"}