.col-md-8
  %h2 IG2I
  %br
  L'IG2I (Institut de Génie Informatique et Industriel) est une école d'ingénieurs basée à Lens (62), et département de l'Ecole Centrale de Lille.
  Créée en 1992, elle forme en 5 ans des ingénieurs spécialisés dans les Nouvelles Technologies de l'Information et de la Communication (NTIC). 
  %br
  %br
  C'est dans cette école que j'ai choisi, en 2008, de poursuivre mes études supérieures.
  %br
  %b Pourquoi l'avoir choisie ?
  %br
  %br
  %ul
    %li
      %b Alternance
      forte avec l'entreprise, avec au total 19 mois de stage sur les 5 années d'études
    %li
      Formation de qualité assurée principalement par des professeurs de l'
      %b Ecole Centrale de Lille
    %li
      Diplôme d'ingénieur reconnu par la 
      %b CTI
      (Commission des titres d'ingénieurs)
    %li
      Ecole à taille humaine (
      %b moins de 250 élèves
      toutes promotions confondues), ce qui permet de lier de réelles affinités entre étudiants
    %li
      %b Activité associative intense
      , avec pas moins de 11 associations internes à l'école

  %p
    Pour plus d'informations, vous pouvez consulter le 
    %a{href:"http://www.ig2i.fr"}
      site web de l'IG2I

.col-md-4.center
  %img{src: "/assets/ig2i.jpg", style: "padding-top: 40px;"}