:javascript
  $("#menu li a[href='/']").parent().addClass("active")

.row

  #intro
    .woaw
      Bienvenue!
    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    %br
    Ut placerat auctor congue. Pellentesque sollicitudin rhoncus dolor, non accumsan justo congue id. Aliquam id lacus nec leo mollis rhoncus. In hac habitasse platea dictumst. Nunc neque orci, convallis id erat sed, dignissim fringilla orci. Curabitur luctus posuere arcu. Aenean vulputate vulputate dolor in varius.

    %br
    %br

    Todo:
    %br
    %a{href: "http://stackoverflow.com/questions/2963820/deploying-to-heroku-with-sensitive-setting-information"} Var config
    %br
    %a{href: "http://stackoverflow.com/questions/11534212/1and1-domain-name-redirect-http-or-frame-with-heroku-host"} Redirections
    %br
    %br

  .col-md-4
    .place
      .box-title
        Bastien Pruvost
      .box
        .red
          Lorem ipsum
        dolor sit amet, consectetur adipiscing elit. Ut placerat auctor congue. Pellentesque sollicitudin rhoncus dolor, non accumsan justo congue id. Aliquam id lacus nec leo mollis rhoncus. In hac habitasse platea dictumst. Nunc neque orci, convallis id erat sollicitudined, dignissim fringilla orci. Curabitur luctus posuere arcu. Aenean vulputate vulputate dolor in varius.

  .col-md-4
    .place
      .box-title
        BastienPruvost.com
      .box
        In porta tellus lectus, vel lobortis risus eleifend rutrum. Aliquam aliquam ultrices justo vel consectetur. Curabitur eu est condimentum, faucibus massa vel, ultricies purus. Donec lacus nulla, bibendum sed ipsum vel, viverra aliquet metus. Suspendisse sapien massa, consequat sit amet erat id, molestie varius ante. Nullam tortor tellus, gravida ac urna consectetur, laoreet viverra quam. Etiam faucibus placerat suscipit. Praesent massa orci, convallis quis lorem ac, porttitor commodo lorem. Sed dictum est quis facilisis eleifend. Mauris consequat eros sed auctor lacinia. Vestibulum eleifend dignissim sodales. In nec viverra lorem, quis fermentum augue. Fusce sed egestas lectus. Vivamus gravida convallis lorem, a volutpat diam iaculis ac.

  .col-md-4
    .place
      .box-title
        Collaborons!
      .box
        Praesent eleifend aliquam mattis. Aenean urna eros, aliquet non lacinia nec, placerat id sem. Aenean nisl enim, pretium rutrum risus id, tempus dapibus nisl. Mauris vestibulum eget risus et rhoncus. Curabitur laoreet, libero ut viverra pharetra, nunc dolor condimentum massa, vitae dignissim arcu massa eu diam. Proin tortor neque, laoreet et ipsum ac, tristique sollicitudin tortor. Ut scelerisque auctor porttitor. Maecenas orci orci, pharetra non elit id, dapibus aliquet neque. In scelerisque fermentum tempus. In odio nulla, tincidunt vitae lectus id, fringilla venenatis lorem. Cras at nunc nisl.