:javascript
  $("#menu li a[href='/projects']").parent().addClass("active")

#left_col.col-md-6
  #name Alten - Réponses à Appels d'Offre
  #project_presentation
    J’ai effectué mon stage de 4ème année au sein de la 
    .red DDPS 
    (Direction des Projets Structurés) d’Alten. Une des ses facettes est de faire les démarches nécessaires pour gagner des projets. Pour cela, elle réalise l’étude de besoins clients au travers d’appels d’offres parvenus à ALTEN.
    %br
    %br
    Les différentes étapes sur lesquelles j’ai pu intervenir sur les réponses aux appels d’offres sont:
    %ul
      %li 
        .red Etude des besoins 
        &raquo; Determiner, via une étude approfondie des besoins du client, une liste des exigences pour le projet ainsi que les risques technique
      %li
        .red Etude fonctionnelle 
        &raquo; Traduction des besoins en solution en établissant un outil répondant a ces derniers
      %li 
        .red Etude technique 
        &raquo; Determiner les solutions et outils a implémenter afin de répondre à l’étude fonctionnelle (Benchmark de solutions; Prototypage; Conception architecture)
      %li
        .red Etude financiere 
        &raquo; Estimation de la charge de travail et du cout du projet au vu de l’etude technique

    %br
    La 
    .red veille technologique 
    prend également une place importante afin de toujours proposer la meilleure solution technique aux clients potentiels. J’ai donc réalisé des études sur différentes technologies (RoR; Drupal, HTML5) afin de déterminer ce qu’elles apportent et dans quel cas leur utilisation est judicieuse.



#right_col.col-md-6
  %img.img-responsive{src: "http://placehold.it/700x400"}