:javascript
  $("#menu li a[href='/projects']").parent().addClass("active")

#left_col.col-md-6
  #name Alten - Projet Atexis
  #project_presentation
    Lors de mon stage de 4e année à 
    .important ALTEN
    , j’ai pu intervenir sur différents types de projets. Parmi ceux-ci, un d’eux répondait à un besoin du client 
    .important Atexis 
    (intervenant pour des clients tels que 
    .important Airbus
    ).
    %br
    %br
    Je suis intervenu sur différentes phases du projet, allant de la 
    .important définition des besoins 
    en passant par le 
    .important développement 
    jusqu’au 
    .important recettage. 
    %br
    %br
    Celui-ci consistait en la réalisation d’un outil afin de faciliter la facturation auprès d’Airbus. Je n’entrerai pas dans les détails dans un soucis de confidentialité, mais l’outil permettait les actions suivantes:
    %ul
      %li
        Importer et traiter les données générées par l’ERP du client
      %li
        Afficher en sortie les informations sur la valorisation des unités d’oeuvres et les sauvegarder au sein d’une base de données,
      %li
        Permettre une modification des Unités d’oeuvres et un archivage.

    %br
    J’ai utilisé sur ce projet des technologies .NET (afin de pouvoir intégrer l’outil a Microsoft Excel), à savoir C# et SQL Server 



#right_col.col-md-6
  %img.img-responsive{src: "/assets/projects/large/alten-atexis.png"}