:javascript
  $("#menu li a[href='/projects']").parent().addClass("active")

#left_col.col-md-6
  #name BDA - Site
  #project_presentation
    Le 
    .important BDA 
    (association dont j'ai été président, voir 
    %a{href: "/projects/bda_projets"} ici
    ) avait besoin d’un nouveau site internet avec les objectifs suivants: 
    
    %br
    %br
    
    Ce site devait tout d’abord être une entité visuelle permettant de présenter le BDA, ses objectifs et ses projets futurs (notamment pour des éventuels sponsors) et de mettre à disposition ses précédentes réalisations. Il devait également être un moyen de communication notamment entre l'association et les élèves, notamment pour le journal qui a besoin de la participation de ces derniers. 
    
    %br
    %br
    
    Ainsi, j’ai mis en place, au cours de ma 2ème année, un site basé sur WordPress. J’ai créé le thème graphique de celui-ci spécialement pour le BDA, afin qu’il représente au mieux l’association. J’y ai intégré des fonctionnalités permettant de répondre au besoin :
    %ul
      %li Formulaires de contact 
      %li Page de téléchargement des anciens numéros du journal
      %li Blog permettant de communiquer sur les actualités de l’association

    %br

    Vous pouvez consulter le site du BDA en suivant 
    %a{href: "http://bda.ig2i.fr"} ce lien



#right_col.col-md-6
  %img.img-responsive{src: "/assets/projects/large/bda-site.png"}