:javascript
  $("#menu li a[href='/projects']").parent().addClass("active")

#test

.portfolioFilter
  %a.current{href: "#", "data-filter" => "*"}
    Toutes Categories
  %a{href: "#", "data-filter" => ".web"}
    Web
  %a{href: "#", "data-filter" => ".android"}
    Android
  %a{href: "#", "data-filter" => ".ios"}
    iOS
  %a{href: "#", "data-filter" => ".desktop"}
    Desktop

.portfolioContainer#portfolio
  .item.web
    .hover_message="En savoir plus"
    %a{href: "/projects/1"}
      %img.img_responsive{src: "http://placehold.it/200x200"}
  .item.android
    .hover_message="En savoir plus"
    %img.img_responsive{src: "http://placehold.it/200x200"}
  .item.web
    .hover_message="En savoir plus"
    %img.img_responsive{src: "http://placehold.it/200x200"}
  .item.ios
    .hover_message="En savoir plus"
    %img.img_responsive{src: "http://placehold.it/200x200"}
  .item.desktop
    .hover_message="En savoir plus"
    %img.img_responsive{src: "http://placehold.it/200x200"}
  .item.web
    .hover_message="En savoir plus"
    %img.img_responsive{src: "http://placehold.it/200x200"}


:javascript
  $(window).load(function(){
    startPortfolio();
  });
