:javascript
  $("#menu li a[href='/projects']").parent().addClass("active")

#container.container
  - flash.each do |name, msg|
    .error.center
      = msg

  .portfolioFilter
    %a.current{href: "#", "data-filter" => "*"}
      Toutes Categories
    %a{href: "#", "data-filter" => ".web"}
      Web
    %a{href: "#", "data-filter" => ".mobile"}
      Mobile
    %a{href: "#", "data-filter" => ".desktop"}
      Desktop
    %a{href: "#", "data-filter" => ".gp"}
      Gestion de Projet / Etudes

  .portfolioContainer#portfolio
    - @projects.each do |p|
      = render partial: "project", locals: {projet: p}


  :javascript
    $(window).load(function(){
      startPortfolio();
    });