:javascript
  $("#menu li a[href='/projects']").parent().addClass("active")

#left_col.col-md-6
  #name IG2I - PINF
  #project_presentation
    Le PINF (Projet INFormatique) se déroule pendant la 2ème année du cursus à l'IG2I.
    %br
    Il s’agit d’un projet à réaliser en équipe pour un client réel. J’ai donc intégré un groupe de 6 personnes avec lequel nous avons travaillé l’association Impulsion. Celle-ci a été fondée à Centrale Lille et à pour but d’aider le programme “Une grande école, pourquoi pas moi?”, qui cherche à accroître les chances, pour des jeunes issus de milieux modestes, de faire des études supérieures ambitieuses.
    %br
    %br
    L’association ne disposait alors que d’un site web statique et souhaitait se doter d’un système dynamique et vivant, permettant de modifier facilement les contenus et des gérer les droits des utilisateurs. 
    %br
    Le cahier des charges contenait notamment:
    %ul
      %li Une nouvelle charte graphique 
      %li Des modules de sondage et de statistiques
      %li Une section planning permettant aux élèves et tuteurs de visionner les séances prévues
      %li Un système de connexion avec gestion des droits 
      %li Une interface des modification des contenus type CMS
    %br
    Ce site a été réalisé en PHP, (+ HTML, CSS, JavaScript). Mais au dela de l'aspect technique, ce projet est la première expérience professionnelle de notre cursus et nous sommes confrontés à un client réel et à des problématiques de gestion. C’est donc surtout un premier contact avec le métier d’ingénieur. 


#right_col.col-md-6
  %img.img-responsive{src: "http://placehold.it/700x400"}