:javascript
  $("#menu li a[href='/projects']").parent().addClass("active")

#left_col.col-md-6
  #name BastienPruvost.com
  #project_presentation
    
    Ce site avait plusieurs objectifs:
    %ul
      %li 
        renforcer mon 
        .red identité visuelle 
        sur Internet en centralisant mes divers profils sur les réseaux sociaux
      %li 
        pouvoir y héberger un 
        .red CV détaillé
        (étant en recherche d'emploi lors de la création de ce dernier)
      %li 
        permettre de présenter brièvement certains des 
        .red projets 
        sur lesquels j'ai pu travailler
      %li 
        avoir un moyen d'être facilement contactable par un potentiel employeur ou client

    %br
    De par la montée en puissance de la navigation sur Internet sur les terminaux mobiles, il me semblait évident de m'adapter en réalisant un design 
    %a{href:"http://en.wikipedia.org/wiki/Responsive_web_design"} responsive.

    %br
    Cependant, même si la tendance est en ce moment au 
    %a{href: "http://jalxob.com/cool-kitten/"} Parallax Scrolling
    , je n'ai pas adheré, trouvant que ce type de design favorise la navigation sur mobile au détriment de celle sur PC (qui reste pour l'instant majoritaire).
    J'ai donc opté pour 
    .red Bootstrap 
    (que je voulais egalement tester depuis un moment).

    %br
    %br

    Le choix des technologies s'est vite fait, etant tombe amoureux de 
    .red Ruby on Rails.
    Je voulais egalement tester 
    .red Heroku 
    (qui en passant pour mes lecteurs techniques, m'a donne une excellente impression).

    Enfin, pour mes projets, après avoir voulu utiliser un pattern MVC "classique", j'ai finalement opté pour des pages HAML séparées, ce qui me simplifiera la tâche pour la traduction du site (en passant par i18n et des fichiers Yml)

    %br
    %br

    Je serai d'ailleurs ravi d'entendre votre avis sur ce site, n'hésitez donc pas à
    %a{href: "/contact"} me contacter!

#right_col.col-md-6
  %img.img-responsive{src: "http://placehold.it/700x400"}