:javascript
  $("#menu li a[href='/projects']").parent().addClass("active")

#left_col.col-md-6
  #name BastienPruvost.com
  #project_presentation
    


    Besoin: 

      - presentation detaillee
      - portfolio / recherche d'emploi
      - form. de contact (+AE)

      - Responsive Design / Parallax Scrolling
      - Rails , less, bootstrap, heroku
      - Projets: MVC -> Dans fichier -> i18n



#right_col.col-md-6
  %img.img-responsive{src: "http://placehold.it/700x400"}