:javascript
  $("#menu li a[href='/projects']").parent().addClass("active")

#left_col.col-md-6
  #name IG2I - PRP
  #project_presentation
    Le PRP (Projet Partenaire) se déroule pendant la 5ème année du cursus à l'IG2I. 
    %br
    Il s'agit d'un projet réalisé en collaboration avec une entreprise (démarchée en 4e année), qui a pour but de réaliser une étude complète répondant à un besoin précis de cette dernière.
    %br
    J'ai donc intégré une équipe de 7 personnes au sein de laquelle nous avons travaillé pour 
    .red Adictiz
    (éditeurs de jeux vidéos pour mobile, notamment auteurs de Paf le Chien).
    %br
    %br
    Le but de l'étude était de cadrer le framework de développement de jeux vidéos le plus adapté à l'entreprise. Pour cela, nous avons réalisé les livrables suivants:
    %ul
      %li
        Un 
        .red Cahier des Charges 
        répertoriant les besoins d'Adictiz
      %li
        Une 
        .red Etude de Marché 
        présentant les 20 meilleurs frameworks, que nous avons par la suite pondérés avec les exigences de l'entreprise afin de pouvoir établir un classement préliminaire
      %li
        Un 
        .red benchmark 
        dans lesquels nous avons pris en main les quelques meilleurs frameworks et réalisé tout un ensemble de tests et pu donner un retour d'expérience (installation, implémentation d'un mini-jeu, performances)
      %li 
        Aprés avoir choisi leur futur framework, nous avons réalisé un 
        .red Dossier de Spécifications 
        regroupant les diverses mesures afin d'augmenter la productivité de l'entreprise (optimisation du framework en question, revue des méthodes de travail, dossiers informatifs sur divers thèmes tels que le cross-platform, etc...)


    %br
    Vous pouvez visiter le site d'Adictiz en suivant 
    %a{href: "http://www.adictiz.com"} ce lien.

#right_col.col-md-6
  %img.img-responsive{src: "http://placehold.it/700x400"}