:javascript
  $("#menu li a[href='/projects']").parent().addClass("active")

#left_col.col-md-6
  #name IG2I - PRT
  #project_presentation
    Le PRT (PRojet Technique) est un des projets de 5ème année à l'IG2I. Il s'agit d'un projet réalisé en binôme sur un sujet de notre choix, devant présenter un interêt technique.
    %br
    %br
    Notre souhait était double:
    %ul
      %li
        Avoir l'opportunité de 
        .red prendre en main 
        certaines technologies que nous n'avions pas utilisé auparavant
      %li 
        Réaliser un projet 
        .red innovant 
        (= pas existant) afin de pouvoir continuer à le développer par la suite.

    Nous avons choisi de réaliser un outil de type client léger permettant d'éditer des schémas de bases de données en UML et d'exporter le résultat en SQL.
    Faute de temps (notamment dû à mon départ à San Francisco pour le stage de fin d'études) nous n'avons pas continué à développer ce projet, cepedant nous avons beaucoup appris que ce soit en technique ou en gestion de projet.
    %br
    %br
    Les technologies utilisées étaient: Java EE avec Spring, JavaScript (avec librairies)



#right_col.col-md-6
  %img.img-responsive{src: "http://placehold.it/700x400"}