:javascript
  $("#menu li a[href='/projects']").parent().addClass("active")

#left_col.col-md-6
  #name thredUP - Website
  #description
    Pendant plusieurs mois pendant mon stage de fin d'études, puis depuis en tant qu'auto-entrepreneur (en télétravail), je travaille au sein de l'équipe d'ingénieurs de thredUP.
    %br
    %br
    Fonctionnant en 
    .red Agile
    (Scrum), les stories (fonctionnalités) varient d'un sprint à l'autre et j'ai donc eu l'opportunité d'intervenir sur des aspects très variés du site, comme par exemple:
    
    %ul
      %li 
        L'
        .red expansion de la base d'utilisateurs
        , ce qui peut se traduit par la mise en place de différents types de promotions, d'outils de partage sur les réseaux sociaux, l'envoi automatisé d'email d'informations, de relance...
      %li 
        L'ouverture d'une nouvelle partie du shop avec le département des 
        .red femmes
        , et toutes les problématiques inhérentes (notamment un système de taille complétement différent + l'aspect marketing)
      %li 
        L'amélioration de l'
        .red expérience utilisateur
        , avec par exemple un remaniement du système de paiement
      %li 
        L'optimisation pour les moteurs de recherche 
        .red (SEO)
      %li ... et beaucoup d'autres choses

    %br
    J'ai ainsi pu utiliser de nombreuses technologies, parmi lesquelles:
    Ruby on Rails, RSpec, Cucumber, Haml, Sass, CoffeeScript, BackboneJS, JQuery
    APIs (Paypal, Braintree, Sailthru)
    %br
    %br
    Plus d'infos &raquo;
    %a{href: 'http://www.thredup.com'} Visiter le site de thredup


#right_col.col-md-6
  %img.img-responsive{src: "http://placehold.it/700x400"}