:javascript
  $("#menu li a[href='/projects']").parent().addClass("active")

#left_col.col-md-8
  #name thredUP - Android
  #project_presentation
    Pendant mon stage de fin d'études à 
    .red thredUP
    , j'ai eu l'opportunité de travailler pendant plusieurs semaines au sein de l'équipe Android.
    %br
    %br
    Exemples de fonctionnalités réalisées:
    %ul
      %li 
        Création des écrans "Notez nous" et "Mot de passe oublié"
      %li 
        Ajout d'un 
        .red nouveau département 
        (=> mise en place de webservices)
      %li 
        Mise en place de 
        .red tests unitaires 
        via RoboElectric
      %li 
        Mise en place d'un système de présentation de l'application (onboarding)

    %br
    %br
    Plus d'infos &raquo;
    %a{href: 'https://play.google.com/store/apps/details?id=com.thredup.android'} Voir l'application Android thredUP


#right_col.col-md-4
  %img.img-responsive{src: "/assets/projects/large/thredup-android.jpg"}