:javascript
  $("#menu li a[href='/projects']").parent().addClass("active")

#left_col.col-md-6
  #name thredUP - iOS
  #project_presentation
    Pendant mon stage de fin d'études à thredUP, j'ai eu l'opportunité de travailler pendant plusieurs semaines au sein de l'équipe iOS.

    Exemples de fonctionnalités réalisées:
    %ul
      %li Refonte du système de navigation
      %li Ajout d'un nouveau département (=> mise en place de webservices)
      %li Refonte de la page d'accueil et de SIV (Single Item View, écran objet)
      %li Création d'un écran "Mot de passe oublié"
      %li Mise en place d'un système de présentation de l'application (onboarding)

    %br
    %br
    Plus d'infos &raquo;
    %a{href: 'https://itunes.apple.com/app/id499725337'} Voir l'application iOS thredUP


#right_col.col-md-6
  %img.img-responsive{src: "http://placehold.it/700x400"}