:javascript
  $("#menu li a[href='/projects']").parent().addClass("active")

#left_col.col-md-6
  #name The Net Doctor - Francois and Co
  #project_presentation
    Après avoir effectué mon stage de 3ème année à 
    .important Atlanta 
    au sein de l'entreprise 
    .important The Net Doctor
    , j'ai eu l'opportunité d'y retourner pour une mission pomctuelle pendant les vacances d'été.
    %br
    %br
    J’y ai travaillé en collaboration directe avec le client final, 
    .important FrancoisAndCo
    , qui disposait d’un site internet créé avec un CMS sur mesure (realisé par un prestataire). Cependant, ce système n’était pas efficace (mal codé et donc peu évolutif et compréhensible) et ne correspondait pas a leur besoin réel.

    %br
    %br
    J’ai réalisé moi même les différents phase du projet. Ainsi, j’ai commencé par 
    .important améliorer et simplifier
    le code et les fonctionnalités déjà présentes. Etant en contact direct avec le client, j’ai discuté avec lui des ses besoins et des nouvelles fonctionnalités à ajouter à l’application. 
    %br
    %br
    J’ai également réalisé des documentations techniques, pour évolutions futures, et également des documents destinés à former les utilisateurs de l’application. 
    %br
    %br
    Ce projet comprenait donc des phases techniques (majoritairement en PHP), mais surtout beaucoup de 
    .important gestion de projet
    et de 
    .important conseil
    , le tout dans un contexte international.

    %br
    %br
    Vous pouvez visiter le site de francois and co 
    %a{href: "http://www.francoisandco.com"}ici



#right_col.col-md-6
  %img.img-responsive{src: "/assets/projects/large/tnd-francoisandco.png"}