My 2nd year internship consisted in a 3-month experience as a technician. I did this internship for the IT service company 
.important Actemium,
in which I realized a project for the final client
.important Dalkia
, company manufacturing heaters (among others).
%br
%br
So, I participated in the creation of a system to handle automatic alarms, set up in case of deficiency
%br
%br
Here are the functionalities I set up: 
%ul
  %li User-friendly web design (instinct navigation and easy access to all information)
  %li Setting up of a form for data modification 
  %li Creation of an admninistration panel to supervize the progress of workflows and the server's state.
  %li Dynamic creation of statistics

%br
%br

During this project I used web technologies: PHP, HTML, CSS, JavaScript, JQuery