I did my 4th year internship at the 
.important DDPS 
("Direction des Projets Structurés", i.e. "Departement of structured projects")  at Alten. One of its goals is to take the necessary steps to earn new projects. To do that, it defines clients needs using calls for tender issued to ALTEN. 
%br
%br
The different steps to answer calls for tender that I could work on are: 
%ul
  %li 
    .important Defining of needs
    &raquo; Determine, through a detailed study of the client's needs, a list of the requirements for the project as well as the technical risks. 
  %li
    .important Functional study
    &raquo; Converting the needs into a solution by establishing a tool matching these ones. 
  %li 
    .important Technical study
    &raquo; Determine the solutions and tools to implement in order to match the functionnal study (solutions Benchmark; Prototyping; Architecture conception) 
  %li
    .important Financial study
    &raquo; Estimation of workload and project's cost regarding the technical study

%br 
.important Technology watch 
also takes an important place in order to always offer the best technical solution to a prospective future client. As a consequence, I realized studies on various technologies (RoR; Drupal, HTML5) to determine what their assets are and in which case using them would be a good choice.