During my 4th year internship, an internal need was formulated, directly for
.important ALTEN 
Nord: recruitment interviews lead to
.important technical tests 
related to the skillsets of applicants. Those were taken on paper, and then reviewed by the technical manager in charge of the given fields.
%br
%br
I worked on a project allowing to computerize this process, using a thin client. I was in complete autonomy on this project and took part on the different phases, from the defining of needs, through conception and technologies choice. 
%br
%br
I made this website using ASP.net technologies (with C#), coupled with Entity Framework.