%p
  The BDA is the arts association of IG2I.   
  Funded in 2008, this young association's main goal is to promote arts among the students, under various forms. 
  Coming from a reunion between the multimedia and the journalistic associations, it has today expanded its activities by developing new ones such as music. 

%p
  Having decided that I would invest in the community life in the school, I choose to join the BDA at my arrival at IG2I. 
  One year later, I was creating the musical department
  %b 2zik
  and leading it, my goal being the expansion of its activities, in particular through the organizing of theme evenings, music classes and concerts.
%p  
  In the 4
  %sup<> th&nbsp; 
  year, I became president of the association, and had supervised, until my graduation, all of the activities and processes of the various departments, while still trying to extend its impact in general.

%p
  For more information, you can visit
  %a{href: "http://bda.ig2i.fr"}
    BDA's website
