The  
.important BDA 
(the association of which I was president, see
%a{href: "/projects/bda_projets"} here
) needed a new website with the following objectives:  

%br
%br

This website had to be the visual entity to introduce the BDA, its goals and its futur projects (in particular for prospective sponsors), as well as give access to its previous realizations. It had to be a way to communicate, in particular between the association and the students, particularly for the newspaper which requires the participation of the latters. 

%br
%br

As a consequence, I set up during my 2nd year a website based on Wordpress. I created its graphic theme specially for the BDA, so that it represents the association as much as possible. I integrated functionalities allowing to meet the needs:
%ul
  %li Contact form
  %li Download page for the previous edition of the newspaper
  %li Blog allowing to communicate on the association's news

%br

You can look at the website of BDA by following 
%a{href: "http://bda.ig2i.fr"} this link