The PINF ("Projet INFormatique", i.e. "Computing Project") takes place during the 2nd year at IG2I. 
%br
It's a team project for a real client. I joined a group of 6 persons with whom I worked for the association 
.important Impulsion. 
Impulsion was founded in Centrale Lille and aims to help the program "Une grande école, pourquoi pas moi?" i.e. "A superior school, why not me? ", which attempts to increase the chances for young coming from social middle class to do higher studies.
%br
%br
The association only had a static website and wanted to own a dynamic website so they could modify easily the contents and manage the user's access rights. 
%br
The specifications contained, in particular:
%ul
  %li 
    A new 
    .important graphic template 
  %li 
    Survey and statistics
    .important modules 
  %li 
    A 
    .important planning 
    section allowing students and tutors to look at the scheduled sessions. 
  %li 
    A connection system with 
    .important management of access rights
  %li 
    A content modification interface similar to a
    .important CMS
%br
This website was realized using PHP, (+ HTML, CSS, JavaScript). But apart from the technical aspect, this project was the first professional experience of our studies in which we were confronted to a real client and to
.important management
aspects. So, it is mostly a first contact with the engineering work. 
