This website has various objectives:
%ul
  %li 
    To Reinforce 
    .important visual identity 
    on the Internet by centralizing my various profils on social networks
  %li 
    To be able to host a 
    .important detailed CV
    (as I'm looking for a job when creating this portfolio)
  %li 
    To allow to present briefly some of the  
    .important projects 
    on which I worked
  %li 
    To have a way to be easily contacted by a prospective employer or client

%br
Because of the rising up of web navigation on mobile devices, it seemed obvious to me to adapt by realizing a
%a{href:"http://en.wikipedia.org/wiki/Responsive_web_design"} responsive
design.

%br
Although, even if the trend nowadays is in 
%a{href: "http://jalxob.com/cool-kitten/"} Parallax Scrolling
, I didn't stick to it, finding that this kind of design facilitates the navigation on mobile devices to the detriment of the one on PC (which is still the main kind of browsing). 
So, I decided to use  a responsive design with
.important Bootstrap 
(which I've wanted to test for a while).

%br
%br

The technologies choice was easy, as I fell in love with
.important Ruby on Rails.
I also wanted to test
.important Heroku 
(which by the way, for my technical readers, has given me an excellent impression).

%br
%br

I would also be glad to hear your thoughts about this website, so don't hesitate to 
%a{href: "/contact"} contact me!