The PRP ("PRojet Partenaire", i.e. "Partner Project") takes place during the 5th year of IG2I.
%br
It's a project realized in partnership with a company (approached during 4th year), which aims to realize a complete study answering a particular need of the client.
%br
I joined a team of 7 people in which we worked for
.importnt Adictiz
(editor of mobile video games, in particular authors of Paf le Chien)).
%br
%br
The aim of the study was to determine wich video game framework was the most suitable for the company. To do that, we made the following deliverables:
%ul
  %li 
    .important Project Specifications
    defining Addictiz's needs
  %li
    A 
    .important Market study 
    presenting the 20 best frameworks, which we have balanced using the requirements of the company in order to establish a preliminary classification. 
  %li
    A 
    .important benchmark 
    in which we took in hand the few best frameworks and realized a set of tests in order the give an experience review (set up, implementation of a mini game, performances) 
  %li 
    After we'd chosen their futur framework, we determined 
    .important Framework Specifications
    regrouping various procedures in order to increase the productivity of the company (framework optimisation, work's methods review, informative files on various themes such as cross-platform, etc...)


%br
You can have a look at Addictiz's website following
%a{href: "http://www.adictiz.com"} this link.