The PRT ("PRojet Technique", i.e. "Technical Project") is one of the projects during the 5th year at IG2I. It's a project realized in group of two on a free subject showing a technical interest.
%br
%br
Our wish was double:
%ul
  %li
    To have the opportunity to
    .important take in hand 
    certain technologies we'd never used before
  %li 
    Realize an 
    .important innovating
    (= not existing) project to be able to keep developing it afterwards.

We chose to create a thin client tool allowing to edit database's schemes in UML and export the result in SQL. 
%br
Lack of time (particularly due to me leaving for San Francisco for my final internship), we haven't kept developing this project. However, we've learned a lot technically and in project management.
%br
%br
The technologies we used were: Java EE avec Spring, JavaScript (with libraries)