During my final internship at 
.important thredUP
, I've worked within the Android team for a few weeks
%br
%br
Here are some examples of the functionalities I set up
%ul
  %li 
    Creation of screens "Rate us" and "Password forgotten"
  %li 
    Adding of a 
    .important new department 
    (=> setting up webservices)
  %li 
    Setting up
    .important unit tests
    via RoboElectric
  %li 
    Setting up an onboarding flow

%br
%br
More info &raquo;
%a{href: 'https://play.google.com/store/apps/details?id=com.thredup.android'} See Android ThredUP App