For several months during my graduating internship, and since then as an remote contractor, I've been working within the engineer team at thredUP (about 15 engineers).
%br
%br
Being in an
.important Agile
(Scrum) environment, the stories (features) are different from one sprint to another and as a consequence, I've had the opportunity to work on various aspects of the website, such as:

%ul
  %li 
    The
    .important expansion of the user base
    , which includes setting up various kinds of promotions, tools and sharing on social networks, automatic sending of information emails ...
  %li 
    The launch of a new part of the website with the 
    .important women
    department, and all the problematics going with it( especially a sizing system totally different + the marketing aspect)
  %li 
    The improvement of 
    .important user experience
    , with, as a example, a refactoring of payment system
  %li  
    .important (SEO)
  %li ...and a lot more

%br
This way, I've used lots of technologies, among them:
Ruby on Rails, RSpec, Cucumber, Haml, Sass, CoffeeScript, BackboneJS, JQuery
APIs (Paypal, Braintree, Sailthru)
%br
%br
More info &raquo;
%a{href: 'http://www.thredup.com'} Visit thredUP's website