During my graduating internship internship at 
.important thredUP
, I've had the opportunity to work within the iOS team for a few weeks.
%br
%br
Here are examples of the functionalities I set up:
%ul
  %li 
    Refactoring of the
    .important browsing system
  %li 
    Adding a
    .important new department 
    (=> setting up webservices)
  %li  
    Refactoring the
    .important home page
    and 
    .important SIV 
    (Single Item View)
  %li 
    Creation of a "Password forgotten" screen
  %li 
    Setting up an onboarding flow

%br
%br
More info &raquo;
%a{href: 'https://itunes.apple.com/app/id499725337'} See iOS ThredUP App