After my 3rd year internship in
.important Atlanta 
within the company
.important The Net Doctor
, I had the opportunity to go back for a specific assignment during the summer vacation.
%br
%br
I worked directly in collaboration with the final client
.important FrancoisAndCo
, which had a website using a CMS created especially for them (made by contractors). However, this system wasn't efficient (poorly coded, making evolution and understanding difficult)

%br
%br
I did the various phases of the project on my own. So, I started with
.important improving and refactoring
the codebase. Being in direct contact with the client, I discussed with him about his needs and the new functionalities to add to the website, and developed them.
%br
%br
I also realized technical documentations for future evolutions, and documentations aiming to train the website's users.
%br
%br
This project included technical phases (mainly in PHP), but especially a lot of
.important project management
and
.important consulting
, all within an international context. 

%br
%br
You can visit francois and co's website
%a{href: "http://www.francoisandco.com"}here