This project is the one I spent the most time on during my 3rd year internship in 
.important Atlanta.
It was issued by the company 
.important B-pack
, which creates and promotes its own software to allow clients to optimize their businesses. 

The need was a  
.important Joomla 
website on which the company wanted to make some modifications. 

%br
%br
This project was a bit hard because it was my first experience with Joomla, and also because the template had been poorly developed in the first place. 
So, I made quite a few modifications (all using Joomla admin panel, because I couldn't get any sever access) and managed to build a website matching their needs, despite the early difficulties.
%br
%br

You can visit B-Pack website by following
%a{href: "http://b-pack.com"} this link.