During my third year intership in 
.important Atlanta 
in the company
.important The Net Doctor
, I worked and various projects, very different from one to another.  
%br
%br
I particularly set up a few presentation websites using
.important Wordpress
for small companies (shops, start-ups) who hadn't, at that time, any visibility on the internet. As a consequence, they needed an interface allowing them to display their activities and therefore increase the impact on their business.
%br
%br
I was in charge of meeting the clients, understanding their needs in order to customize the design and functionalities so that it matches their wishes at much as possible.