.place
  .box-title
    %img.warning{src: "/assets/warning.png", alt: "!"}
    Let's work together!
  .box
    I am currently
    .important looking for an opportunity
    in French Rhône-Alpes area (ideally around Ruby on Rails technologies, but I stay open to other oportunities).
    %br
    I am particularly interested in innovative projects, in Agile methods of project management, as well as team cultures.
    %br
    %br
    If my profile interests you, please feel free to
    %a{href: contact_path} contact me
    so we can talk about it!