.place
  .box-title
    %img.warning{src: "/assets/warning.png"}
    Collaborons !
  .box
    Je suis actuellement en 
    .important recherche d'un poste 
    dans la région Rhône-Alpes (idéalement autour de technologies Ruby on Rails, mais je reste à l'écoute de toute opportunité).
    %br
    Je porte notamment un intérêt particulier aux projets innovants, aux méthodologies de gestion de projet Agiles, ainsi qu'à l'optimisation du travail en équipe.
    %br
    %br
    Si mon profil vous intéresse, n'hésitez pas à 
    %a{href: "/contact"} me contacter 
    afin que nous puissions en discuter !