.place
  .box-title
    Qui Suis-Je ?
  .box
    Ingénieur récemment diplômé de l'
    .important IG2I
    (département de l'Ecole Centrale de Lille), j'ai rapidement décidé d'orienter ma carrière professionnelle autour des nouvelles technologies du 
    .important web. 
    %br
    %br
    Passionné par mon métier, je me tiens naturellement au courant de ses évolutions, à la fois au niveau technique et des méthodes de travail ou de gestion de projets, convaincu que c'est dans cette adaptabilité que ce situe la force d'un ingénieur.