.place
  .box-title
    Who am I?
  .box
    Engineer who recently graduated from
    .important IG2I
    (departement  of French "Ecole Centrale de Lille"), I quickly decided to drive my profesional carrier towards
    .important web technologies. 
    %br
    %br
    Passionate about my job, I keep naturally informed about its evolutions on several on its aspect: technical, working environments, project management methods... I'm convinced that this adaptability is an engineer's most valuable asset.