.place
  .box-title
    Ce site
  .box
    Ici, vous trouverez :
    %ul
      %li 
        mon 
        %a{href: "/cv"} Curriculum Vitae
      %li 
        des exemples de 
        %a{href: "/projects"} projets 
        sur lesquels j'ai pu travailler
      %li 
        (bientôt) un 
        %a{href: "/blog"} blog
      %li 
        un formulaire de 
        %a{href: "/contact"} contact
        , pour toute suggestion, renseignement...