.place
  .box-title
    This website
  .box
    Here, you'll find:
    %ul
      %li 
        my 
        %a{href: "/cv"} Curriculum Vitae
      %li 
        examples of
        %a{href: "/projects"} projects 
        I could work on
      %li 
        (soon) a 
        %a{href: "/blog"} blog
      %li 
        a
        %a{href: "/contact"} contact form
        , for any suggestion, information...