.place
  .box-title
    Ce site
  .box
    Ici, vous trouverez :
    %ul
      %li 
        mon 
        %a{href: cv_path} Curriculum Vitae
      %li 
        des exemples de 
        %a{href: projects_path} projets 
        sur lesquels j'ai pu travailler
      %li 
        (bientôt) un 
        %a{href: blog_path} blog
      %li 
        un formulaire de 
        %a{href: contact_path} contact
        , pour toute suggestion, renseignement...