.place
  .box-title
    This website
  .box
    Here, you'll find:
    %ul
      %li 
        my 
        %a{href: cv_path} Curriculum Vitae
      %li 
        examples of
        %a{href: projects_path} projects 
        I could work on
      %li 
        (soon) a 
        %a{href: blog_path} blog
      %li 
        a
        %a{href: contact_path} contact form
        , for any suggestion, information...