#social
  %ul
    %li.github
      %a{href:"https://github.com/bastienpruvost"}
    %li.linkedin
      %a{href: "http://fr.linkedin.com/pub/bastien-pruvost/25/ba5/84a"}
    %li.viadeo
      %a{href:"http://fr.viadeo.com/fr/profile/bastien.pruvost"}
    %li.skype
      %a{href:"skype:bastien.pruvost"}
    %li.facebook
      %a{href:"http://www.facebook.com/bpruvost"}
    %li.googleplus
      %a{href:"http://plus.google.com/114162255802000996547"}