@main:       #1d70bc;
@main2:      #7abcde;

@darkgrey:  #303030;
@grey:      #444444;
@lightgrey: #888888;

@dark:      #3a3a3a;
@light:     #bbbbbb;

@beige:     #eeeeee;

@extralight: #f6f6f6;

.important {
  display: inline;
  font-weight: bold;
  color: @main;
}