@import "mixins";
@import "colors";
@import "custom_bootstrap/custom_bootstrap";

#menu {
  float:right;
}

#menu > ul > li > a {
  height: 80px;
  vertical-align: middle;
  display: table-cell;
  padding: 0px 25px;
}

.navbar-brand {
  margin: 15px 0px;
  font-size: 24px !important;
  color: @beige !important;
}
.navbar-toggle {
  margin: 15px !important;
  border: 1px solid @beige !important;
  color: @beige !important;
}

.navbar {
  background-color: @dark !important;
}


@media (max-width: @screen-xs-max) {
  #header {
  position: fixed;
  width: 100%;
  top: 0px;
  z-index: 10;
  }
  body {
    padding-top: 120px;
  }
}