@import "colors";
@import "mixins";
@import "twitter/bootstrap";

body {
  padding-right: 0px;
  padding-left: 0px;
}

#footer {
  margin-top: 10px;
  text-align: center;
  font-size: 0.85em;
  padding: 10px;
}

#intro {
  text-align: center;
  font-size: 1.1em;
}

.woaw {
  font-size: 1.3em;
  color: @red;
  font-weight: bold;
}

.place {
  margin: 5px;
  padding-bottom: 20px;
  .box-title {
    text-align: center;
    border: 1px solid @beige;
    background-color: @extralight;
    color: @red;
    font-weight: bold;
    padding: 5px;
    text-transform: uppercase;
    font-size: 0.9em;
  }
  .box {
    padding: 10px;
    color: @grey;
    font-size: 0.9em;
    text-align: justify;
    text-justify: inter-word;
  }
}

/* Resume
================================================== */

.resume {
  .category {
    h2 {
      .place > .box-title;
      margin-bottom: 5px;
      font-size: 18px;
      list-style: none;
    }
    .entry {
      h3 {
        display: list-item;
        margin-bottom: 5px;
        font-size: 14px;
        font-weight: bold;
      }
      h4 {
        font-size: 12px;
      }
      .know-more{
        height: 32px;
        width: 32px;
        background-image: url('/assets/know_more.png');
        float: right;
      }
    }
  }
  .place {
    .label;
    .label-default;
  }
  .description {
    margin-bottom: 30px;
  }
  .date {
    .label;
    .label-default;
  }
  .skill-container {
    height:18px;
    width:100px;
    display:inline-block;
    background:#eee;
    margin-bottom:5px;
    border: 1px solid @red2;
  }
  .skill {
    height:17px;
    background:@red2;
    font-size:11px;
    color:#fff;
    border: 1px solid @red2;
    padding:0 5px;
  }
}