@import "colors";
@import "mixins";
@import "custom_bootstrap/custom_bootstrap";

body {
  padding: 20px 0px 20px 0px;
  background-color: @extralight;
  text-align: justify;
  text-justify: inter-word;
  font-family: "Georgia" !important;
}

.container {
  padding: 0px;
}

#container {
  .drop-shadow(10px, 10px, 5px, 0.1);
  background-color: white;
  border: 1px solid @light;
  padding: 20px;
}


#last_projects{
  #container;
  margin-top: 20px;
}

#footer {
  margin-top: 20px;
  text-align: center;
  font-size: 0.85em;
  padding: 10px;
  background-color: @dark;
  color: @beige;
}

.place {
  margin: 5px;
  padding-bottom: 20px;
  .box-title {
    position: relative;
    text-align: center;
    border: 1px solid @beige;
    background-color: @extralight;
    color: @main;
    font-weight: bold;
    font-size: 14px;
    padding: 5px;
    margin: 5px 0px;
    text-transform: uppercase;
  }
  .box {
    padding: 10px;
    color: @grey;
  }
}

.form-group {
  padding: 10px 0px;
}

.error {
  margin-bottom: 30px;
  border: 1px solid grey;
}

.center {
  text-align: center;
}

.clear {
  clear: both;
}

.important {
  display: inline;
  font-weight: bold;
  color: @main;
}

.ig2i {
  padding-top: 40px;
}