.clear
.container
  #footer.hidden-print
    Dernière mise à jour : 30 Nov. 2013
    %br
    Optimisé pour une navigation sur PC, ainsi que sur tablette ou smartphone.
    %br
    BastienPruvost.com - Copyright &copy; 2013 - Tous droits réservés
  #footer.well.well-sm.visible-print
    Imprimé depuis www.bastienpruvost.com