#footer.well.well-sm
  Dernière mise à jour : Aujourd'hui
  %br
  Optimisé pour une navigation sur PC, ainsi que sur tablette ou smartphone.
  %br
  BastienPruvost.com - Copyright &copy; 2013 - Tous droits réservés

  %br
  %br
  http://www.colorhexa.com/1d70bc
  %br
  http://stackoverflow.com/questions/2963820/deploying-to-heroku-with-sensitive-setting-information
  %br
  http://stackoverflow.com/questions/11534212/1and1-domain-name-redirect-http-or-frame-with-heroku-host