.clear
.container
  #footer.hidden-print
    = t "general.maj"
    5 Dec. 2013
    %br
    = t "general.optimise"
    %br
    BastienPruvost.com - Copyright &copy; 2013 - 
    = t "general.reserve"
  #footer.well.well-sm.visible-print
    = t "general.imprime"