#print.center.well.visible-print
  %b Bastien Pruvost
  %br
  = t "general.ingenieur"
  %br
  bastien.pruvost@gmail.com - +33 6 51 66 44 74


#header
  .container
    .navbar.navbar-inverse
      .navbar-header
        %button.navbar-toggle{ type: "button", "data-toggle" => "collapse", "data-target" => ".navbar-collapse"}
          %span Menu
        %a.navbar-brand{href: "/"} Bastien PRUVOST

      #menu.collapse.navbar-collapse
        %ul.nav.navbar-nav
          %li
            %a{href: "/"} Home
          %li
            %a{href: "/cv"} CV
          %li
            %a{href: "/projects"}= t "general.projet"
          %li
            %a{href: "/blog"} Blog
          %li
            %a{href: "/contact"} Contact
          %li
            %a.flag{href:"?l=#{@flag}"}
              %img{src: "/assets/flag_#{@flag}.png"}