#print.center.well.visible-print
  %b Bastien Pruvost
  %br
  = t "general.ingenieur"
  %br
  bastien.pruvost <at > gmail.com - +33 6 51 66 44 74


#header
  .container
    .navbar.navbar-inverse
      .navbar-header
        %button.navbar-toggle{ type: "button", "data-toggle" => "collapse", "data-target" => ".navbar-collapse"}
          %span Menu
        %a.navbar-brand{href: "/"} Bastien PRUVOST

      #menu.collapse.navbar-collapse
        %ul.nav.navbar-nav
          %li
            %a{href: root_path} Home
          %li
            %a{href: cv_path} CV
          %li
            %a{href: projects_path}= t "general.projet"
          %li
            %a{href: blog_path} Blog
          %li
            %a{href: contact_path} Contact
          %li
            %a.flag{href: @url_translated}
              %img{src: "/assets/flag_#{@flag}.png", alt: "Switch Language"}