#header
  .navbar.navbar-default{role: "navigation"}
    #top_row.container
      .row
        .col-xs-10.col-sm-6
          %img{src: "assets/bastienpruvost.png"}
        .col-xs-2.navbar-header
          %button.navbar-toggle{ type: "button", "data-toggle" => "collapse", "data-target" => "#nav-collap"}
            %span.sr-only
              Toggle navigation
            %span
              Menu
        .clearfix.visible-xs
        #social.col-xs-12.col-sm-6.hidden-xs
          %ul
            %li.github
              %a{href:"https://github.com/bastienpruvost"}
            %li.viadeo
              %a{href:"http://fr.viadeo.com/fr/profile/bastien.pruvost"}
            %li.linkedin
              %a{href: "http://fr.linkedin.com/pub/bastien-pruvost/25/ba5/84a"}
            %li.skype
              %a{href:"skype:bastien.pruvost"}
            %li.twitter
              %a{href:"http://twitter.com/bastienpruvost/"}
            %li.facebook
              %a{href:"http://www.facebook.com/bpruvost"}
            %li.googleplus
              %a{href:"http://plus.google.com/114162255802000996547"}

    <!-- Collect the nav links, forms, and other content for toggling -->
    .collapse.navbar-collapse#nav-collap
      .container#menu
        %ul.nav.navbar-nav
          %li
            %a{href: "/"}
              Home
          %li
            %a{href: "/cv"}
              CV
          %li
            %a{href: "/projects"}
              Projets
          %li
            %a{href: "/blog"}
              Blog
          %li
            %a{href: "/contact"}
              Contact